body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
select {
    max-width: 280px;
}

.name {
	width: 800px;
}

.account {
	width: 300px;
}

textarea.form-control.short-description {
	height: 150px;
	width: 800px;
	resize: none;
}

textarea.form-control.description {
	width: 800px;
	height: 350px;
	resize: none;
}

textarea.form-control.tegs {
	width: 800px;
	height: 100px;
	resize: none;
}

footer {
	text-align: center;
}

.category {
	width: 400px;
}


